<div class="content-panel">
  <div class="panel-main">
    <div #panelMainFlex class="panel-main-flex">

      <div #searchDiv class="search">
        <input (blur)="searchLightenBorder()" (focus)="searchDarkenBorder()"
               (keydown.enter)="this.searchClick()" [formControl]="this.searchFormControl" class="searchbox" id="search" name="search"
               placeholder="Search the cloud" type="text">

        <div (click)="this.searchClick()" class="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <button class="upload">
        <i class="fa-solid fa-arrow-up"></i>
        Upload
      </button>

      <select id="sortBy">
        <option [selected]="true">Sort by</option>
        <option id="sort-0-0">Alphabetical (A to Z)</option>
        <option id="sort-0-1">Alphabetical (Z to A)</option>
        <option id="sort-1-0">Date Added (New to Old)</option>
        <option id="sort-1-1">Date Added (Old to New)</option>
        <option id="sort-3-0">Size (Low to High)</option>
        <option id="sort-3-1">Size (High to Low)</option>
        <option id="sort-2-0">Last Opened (Recently opened first)</option>
        <option id="sort-2-1">Last Opened (Least recently opened first)</option>
      </select>

      <div class="style">
        <!--                <input [checked]="true" type="checkbox" name="style" id="style"/>-->
        <div class="large-icon-text">Switch to list style</div>
      </div>

      <div class="dark-mode">
        <i class="fa-solid fa-moon"></i>
        <span class="dark-mode-text-div">Enable dark mode</span>
      </div>

      <div class="user-info">
        <div #pfp (mouseenter)="this.showPfpDropdown(false); this.mouseHoveringOverPfp = true;" (mouseleave)="this.hidePfpDropdown(); this.mouseHoveringOverPfp = true;" class="pfp"></div>
        <div #pfpDropdown *ngIf="this.pfpDropdownShowing" class="top-pointed-dropdown">
          <span #pfpDropDownSpan>
            Hi FirstName, <br>
            <b>Click to open account settings</b>
          </span>
        </div>

      </div>

    </div>
  </div>
</div>
