<div class="content-panel">
  <div class="panel-main">
    <div #panelMainFlex class="panel-main-flex">

      <div (mouseenter)="searchCrossVisibleDueToHover=true;" (mouseleave)="searchCrossVisibleDueToHover=false" #searchDiv class="search">
        <input (blur)="searchLightenBorder(); searchCrossVisibleDueToFocus=false;" (focus)="searchDarkenBorder(); searchCrossVisibleDueToFocus=true;"
               (keydown.enter)="this.searchClick()" [formControl]="this.searchFormControl" class="searchbox" id="search" name="search"
               placeholder="Search the cloud" type="text">
        <i (click)="searchClear()" *ngIf="(searchCrossVisibleDueToHover || searchCrossVisibleDueToFocus) && searchFormControl!.value!.trim().length>0" class="fa-solid fa-circle-xmark"></i>

        <div (click)="this.searchClick()" class="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <input #uploadInputHidden (change)="onFileSelected($event)" type="file" multiple hidden>

      <div (mouseenter)="uploadOptionsVisible=true" (mouseleave)="uploadOptionsVisible=false" class="upload-container">
        <button class="upload">
          <i class="fa-solid fa-arrow-up"></i>
          Upload
        </button>
        <div [ngClass]="{'upload-options-active':uploadOptionsVisible}" class="upload-options">
          <div (click)="uploadFolder();" class="upload-option uo-1">Upload Folder</div>
          <div (click)="uploadFile();" class="upload-option">Upload Files</div>
        </div>
      </div>


      <div #sortParent class="sort-parent-div">
        <select #sortSelection (change)="sortingChanged($event)" id="sortBy">
          <option>Sort by</option>
          <option class="asc" value="0">Alphabetical (A to Z)</option>
          <option class="desc" value="1">Alphabetical (Z to A)</option>
          <option class="desc" value="3">Date Added (New to Old)</option>
          <option class="asc" value="2">Date Added (Old to New)</option>
          <option class="asc" value="6">Size (Low to High)</option>
          <option class="desc" value="7">Size (High to Low)</option>
          <option class="desc" value="5">Last Opened (Recently opened first)</option>
          <option class="asc" value="4">Last Opened (Least recently opened first)</option>
        </select>
        <span #sorting></span>
      </div>


      <div class="style">
        <div *ngIf="localStorage.getItem('list')!='Y'" (click)="localStorage.setItem('list','Y'); cd.detectChanges();" class="large-icon-text">Switch to list style</div>
        <div *ngIf="localStorage.getItem('list')=='Y'" (click)="localStorage.setItem('list','N'); cd.detectChanges();" class="large-icon-text">Switch to large icons</div>
      </div>

      <div class="dark-mode">
        <i class="fa-solid fa-moon"></i>
        <span class="dark-mode-text-div">Enable dark mode</span>
      </div>

      <div class="user-info">
        <div #pfp (mouseenter)="this.showPfpDropdown(false); this.mouseHoveringOverPfp = true;" (mouseleave)="this.hidePfpDropdown(); this.mouseHoveringOverPfp = false;" class="pfp"></div>
        <div #pfpDropdown *ngIf="this.pfpDropdownShowing" class="top-pointed-dropdown">
          <span #pfpDropDownSpan>
            Hi FirstName, <br>
            <b>Click to open account settings</b>
          </span>
        </div>

      </div>

    </div>
  </div>
</div>
