.info-panel{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #F5F5F5;
  border-top: 2px solid lightgray;
  min-height: 35px;
  z-index: 5;
  /*font-weight: bold;*/
}

.margin-left{
  margin-left: 5.5px;
}

.fa-square-xmark{
  font-size: 20px;
  cursor: pointer;
}

.sticky-notif{
  position: sticky;
}

/*SELECTION INFO PANEL NOTIFICATION*/
.panel-selected-menu-btn{
  margin-left: 5px;
  padding: 2px 6.5px 2px 6.5px;
}

.panel-selected-menu-btn:hover{
  background-color: lightgray;
  cursor: pointer;
}

.items-select-txt{
  margin-left: 5px;
}

.trash-btn{
  background-color: white;
  border: solid gray 1px;
  height: 25px;
}

.alertTxt{
  cursor: pointer;
  text-decoration: underline;
  display: none;
}

.items-move-text{
  font-weight: bold;
  text-decoration: underline;
}


.flex{
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.inner-outer{
  background-color: #F5F5F5;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
  margin-left: 17px;
  align-self: center;
  display: inline-block;
}



.progress-bar{
  width: 1%;
  height: 100%;
  background: bisque;
  background-size: cover;
  transition: width 1s ease-in-out;
  display: inline-block;
  border-radius: 5px;
}
.progress-txt{
  margin-top: 2px;
  margin-left: 105px;
  position: absolute;
}
