<div #uploadProgressNotif class="info-panel sticky-notif">
  <div class="margin-left infoText flex"><span>Upload in progress:</span>
    <div class="inner-outer"><span #progressTxt class="progress-txt">1%</span>
      <div #progressBar class="progress-bar"></div>
    </div>
  </div>
</div>

<div #selectionInfoPanel class="info-panel sticky-notif">
  <button (click)="unselect()" class="panel-selected-menu-btn">Unselect All</button>
  <span class="items-select-txt txt">{{itemsSelected}} Item(s) Selected</span>
  <button *ngIf="this.breadcrumbService.getBreadcrumbs()[this.breadcrumbService.getBreadcrumbs().length-1]!='trash'"(click)="moveToTrash()" class="trash-btn panel-selected-menu-btn">Move to Trash</button>
  <button *ngIf="this.breadcrumbService.getBreadcrumbs()[this.breadcrumbService.getBreadcrumbs().length-1]=='trash'" (click)="restore()" class="trash-btn panel-selected-menu-btn">Restore</button>
  <button *ngIf="this.breadcrumbService.getBreadcrumbs()[this.breadcrumbService.getBreadcrumbs().length-1]=='trash'" (click)="delete()" class="trash-btn panel-selected-menu-btn">Delete Permanently</button>
  <button (click)="activateMoveState()" class="trash-btn panel-selected-menu-btn">Move to other folder</button>
  <button (click)="download()" class="panel-selected-menu-btn">Download All</button>
</div>

<div #deleteConfirmNotif class="info-panel sticky-notif">
  <div class="margin-left infoText"></div>
  <button (click)="deleteFunc ? deleteFunc() : false; dismissNotificationAlert($event);" class="panel-selected-menu-btn">Yes</button>
  <button (click)="dismissNotificationAlert($event)" class="panel-selected-menu-btn">No</button>
</div>

<div #moveNotif class="info-panel sticky-notif">
  <div class="margin-left infoText">Select the folder inside which <span [title]="getConcatenatedMovingItemsNames()" class="items-move-text">{{numberOfItemsBeingMoved}} item(s)</span> will be moved.</div>
  <button *ngIf="crumbs[0]=='home'" (click)="move(); dismissNotificationAlert($event)" class="panel-selected-menu-btn">Move over here</button>
  <button (click)="moveAbort(); dismissNotificationAlert($event)" class="panel-selected-menu-btn">Cancel</button>
</div>
