<div #selectionInfoPanel class="info-panel sticky-notif">
  <button (click)="unselect()" class="panel-selected-menu-btn">Unselect All</button>
  <span class="items-select-txt txt">{{itemsSelected}} Item(s) Selected</span>
  <button class="trash-btn panel-selected-menu-btn">Move to Trash</button>
</div>

<div #deleteConfirmNotif class="info-panel sticky-notif">
  <div class="margin-left infoText"></div>
  <button (click)="deleteFunc ? deleteFunc() : false; dismissNotificationAlert($event);" class="panel-selected-menu-btn">Yes</button>
  <button (click)="dismissNotificationAlert($event)" class="panel-selected-menu-btn">No</button>
</div>

<!--TODO: De-clutter alertTxt anchor tag by utilizing a single-line reusable function-->
