.info-panel{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #F5F5F5;
  border-top: 2px solid lightgray;
  min-height: 35px;
  z-index: 5;
  /*font-weight: bold;*/
}

.margin-left{
  margin-left: 5.5px;
}

.fa-square-xmark{
  font-size: 20px;
  cursor: pointer;
}

.sticky-notif{
  position: sticky;
}

/*SELECTION INFO PANEL NOTIFICATION*/
.panel-selected-menu-btn{
  margin-left: 5px;
  padding: 2px 6.5px 2px 6.5px;
}

.items-select-txt{
  margin-left: 5px;
}

.trash-btn{
  background-color: white;
  border: solid gray 1px;
  height: 25px;
}

.alertTxt{
  cursor: pointer;
  color: red;
  text-decoration: underline;
  display: none;
}
