<div #selectionInfoPanel class="info-panel sticky-notif">
  <button (click)="unselect()" class="panel-selected-menu-btn">Unselect All</button>
  <span class="items-select-txt txt">{{itemsSelected}} Item(s) Selected</span>
  <button class="trash-btn panel-selected-menu-btn">Move to Trash</button>
</div>

<div #emptyInputNotif class="info-panel">
  <!--KEEP IN MIND notification dismissing function will dismiss the parent element of the i element-->
  <i (click)="dismissNotificationAlert($event)" class="fa-solid fa-square-xmark"></i>
  <div class="margin-left infoText">The input cannot be empty! <a (click)="window.scrollTo({top:0, behavior:'smooth'})" class="alertTxt"></a></div>
</div>

<div #invalidCharacterNotif class="info-panel">
  <i (click)="dismissNotificationAlert($event)" class="fa-solid fa-square-xmark"></i>
  <div class="margin-left infoText">Invalid character provided in the input {{invalidCharacter}} <a (click)="window.scrollTo({top:0, behavior:'smooth'})" class="alertTxt"></a></div>
</div>

<div #alreadyRenamingNotif class="info-panel">
  <i (click)="dismissNotificationAlert($event)" class="fa-solid fa-square-xmark"></i>
  <div class="margin-left infoText">Unable to rename another file. Please complete renaming the current file/folder. <a (click)="window.scrollTo({top:0, behavior:'smooth'})" class="alertTxt"></a></div>
</div>

<div #renameSuccessNotif class="info-panel">
  <i (click)="dismissNotificationAlert($event)" class="fa-solid fa-square-xmark"></i>
  <div class="margin-left infoText">Successfully renamed to {{successRenamedToName}}. <a (click)="window.scrollTo({top:0, behavior:'smooth'})" class="alertTxt"></a></div>
</div>
<!--TODO: De-clutter alertTxt anchor tag by utilizing a single-line reusable function-->
