.searchbox{
    width: 40%;
    height: 28px;
    background-color: azure;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 3px;
    padding-left: 20px;
    font-size: 1rem;
}

.panel-main{
    position: sticky;
    height: 65px;
    background-color: #F5F5F5;
    width: 100%;
}

.panel-main-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}