<div class="content">

  <breadcrumbs [crumbs]="crumbs" class="breadcrumbs-topmost-parent"></breadcrumbs>

  <notification-center></notification-center>

  <div class="files-and-folders">
    <file-large-item *ngFor="let folder of folders" [FileFolder]="folder" [type]="'folder'"
                     class="file-large-item-from-viewer"></file-large-item>
    <!--TODO Copy paste and tune above for files-->
    <div *ngIf="localStorage['uncreatedFolderExists'] == 'false'" (click)="this.createNewFolder()" class="newFolder">
      <i class="fa-solid fa-folder-plus"></i>
      <div>Create folder</div>
    </div>
  </div>
</div>
