.content{
    text-wrap: wrap;
}
.file-large-item-from-viewer{
    display: inline-block;
    text-wrap: wrap;
    width: 120px;
    z-index: 1;
}

.text-only {
  display: block !important;
}
/*} TODO Remove as its most likely redundant*/


.trash-btn:hover{
    background-color: lightgray;
}

.files-and-folders{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs-topmost-parent{
  position: sticky;
  top: 60px;
  max-width: 100%;
  background-color: #F5F5F5;
  display: block;
  z-index: 2;
  overflow-x: hidden;
}
