<div class="content">

  <breadcrumbs [crumbs]="crumbs" class="breadcrumbs-topmost-parent"></breadcrumbs>

  <notification-center></notification-center>

  <div *ngIf="!emptyFolderTxtActive && crumbs[0]=='Search Results'" class="topTxt resultsTxt">Search Results for {{searchQuery}}</div>
  <div *ngIf="emptyFolderTxtActive" class="topTxt">{{emptyTxt}}</div>
  <div class="files-and-folders">
    <file-large-item *ngFor="let f of files; index as i" [ngClass]="{'file-move-state-width-override':filesState.getItemsBeingMoved().length>0}" [FileFolder]="f" [type]="f.fileType"
                     class="file-large-item-from-viewer" (destroy)="this.files.splice(i,1)"></file-large-item>
    <div *ngIf="!anyFolderUncreated && crumbs[0]=='home' && filesState.getItemsBeingMoved().length==0" (click)="this.createNewFolder()" class="newFolder">
      <i class="fa-solid fa-folder-plus"></i>
      <div>Create folder</div>
    </div>
  </div>
</div>
