html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.navigation-drawer {
  transition: min-width 1s ease;
  z-index: 2;
  background-color: #F5F5F5;
}

.content {
  display: flex;
  height: 100%;
}

.top-panel {
  height: 65px;
  position: relative;
  top: 0px;
  z-index: 14;
}

.panel {
  height: 100%;
  display: block;
  top: 0px;
  background-color: #F5F5F5;
}

.dashboard {
  width: 100%;
  height: calc(100% - 65px);
}

.router-container {
  position: relative;
  min-height: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loader {
  border: 8px solid white;
  border-top: 8px solid bisque;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 100px;
  left: 50%;
  position: absolute;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1095px) {
  /*.navigation-drawer {*/
  /*  min-width: unset !important;*/
  /*}*/
}
