.content{
    text-wrap: wrap;
}
.file-large-item-from-viewer{
    display: inline-block;
    text-wrap: wrap;
    width: 120px;
}

.file-large-item-from-viewer:hover{
    background-color: rgba(211, 211, 211, 0.593);
    cursor: pointer;
}


.text-only{
    display: block !important;
}


.trash-btn:hover{
    background-color: lightgray;
}

.files-and-folders{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}