.content{
    text-wrap: wrap;
}
.file-large-item-from-viewer{
    display: inline-block;
    text-wrap: wrap;
    width: 150px;
}

.file-large-item-from-viewer:hover{
    background-color: rgba(211, 211, 211, 0.593);
    cursor: pointer;
}

.info-panel-component{
    position: sticky;
    top: 65px;
    z-index: 5;
    display: none;
}

#infoPanel{
    z-index: 4;
}

.text-only{
    display: block !important;
}

move-selection{
    margin-left: 50px;
}
.panel-selected-menu-btn{
    margin-left: 5px;
    padding: 2px 6.5px 2px 6.5px;
}
.items-select-txt{
    margin-left: 5px;
}

.trash-btn{
    background-color: white;
    border: solid gray 1px;
    height: 25px;
}

.trash-btn:hover{
    background-color: lightgray;
}