<p class="full-name">{{file.fileName}}</p>
<div class="options">
  <button title="Download file" class="btn">
    <i class="fa-solid fa-download"></i>
  </button>
  <button title="Share file" class="btn">
    <i class="fa-solid fa-share-nodes"></i>
  </button>
  <button (click)="router.navigate(['filemetadata',file.fileId])" title="File metadata" class="btn">
    <i class="fa-solid fa-circle-info"></i>
  </button>
  <button (click)="window.open(fileUrl, '_blank')" class="btn" *ngIf="file.fileType==FileType.Document && file.filePath.split('.')[file.filePath.split('.').length-1]=='pdf'"><i class="fa-solid fa-arrow-up-right-from-square"></i> Open full</button>
</div>
<div *ngIf="file.fileName.split('.')[file.fileName.split('.').length-1] == 'txt'">
  <pre>{{ fileText }}</pre>
</div>

<div class="previewParent">
  <img *ngIf="file.fileType==FileType.Image || file.fileType==FileType.GIF" [ngSrc]="'https://localhost:7219/api/Retrievals/filePreview?filePath='+file.filePath" [width]="'fit-content'" [height]="'450px'" alt="image"/>

  <video *ngIf="file.fileType==FileType.Video" [src]="'https://localhost:7219/api/Retrievals/filePreview?filePath='+file.filePath"  controls width="600"></video>

  <audio *ngIf="file.fileType==FileType.Audio" [src]="'https://localhost:7219/api/Retrievals/filePreview?filePath='+file.filePath"  controls></audio>

  <iframe [attr.src]="'https://localhost:7219/api/Retrievals/filePreview?filePath='+file.filePath" *ngIf="file.fileType==FileType.Document && file.filePath.split('.')[file.filePath.split('.').length-1]=='pdf'"> </iframe>
</div>
