<div (mouseleave)="selectFileCheckbox.nativeElement.style.visibility = 'hidden'" (mouseover)="selectFileCheckbox.nativeElement.style.visibility = 'visible'" [title]="originalName" class="file">
    <div #fileOptionsMenu class="file-options-menu">
        <div *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="trash-file-option">Move to trash</div>
        <div (click)="setupInput();" *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="rename-file-option">Rename</div>
        <div *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="share-file-option">Share</div>
        <div (click)="move()" *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="move-file-option">Move to...</div>
        <div *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="favorite-file-option">Favorite</div>
        <div *ngIf="!this.moving" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="rename-file-option">Info</div>
        
        
        <button (click)="back()" #backBtn [ngClass]="(fileOptionsShouldBeVisible && this.moving) ? 'file-options-visible':''" class="back-btn-moving move-opacity-settings">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
        <span #selectTxt [ngClass]="(fileOptionsShouldBeVisible && this.moving) ? 'file-options-visible':''" class="moving-select-text move-opacity-settings">Select</span>
        <move-selection [ngClass]="(fileOptionsShouldBeVisible && this.moving) ? 'file-options-visible':''" class="move-selection move-opacity-settings"></move-selection>
    </div>

    <div (click)="expandOptions()" title="Options" class="file-options">
        <i class="fa-solid fa-ellipsis"></i>
    </div>

    <!--150x180.25-->
    <input #selectFile type="checkbox" name="selectFile" id="selectFile"/>
    <i *ngIf="this.favorite" title="Added as favorite. Unfavorite from three-dot menu." class="fa-solid fa-heart"></i>
    
    <div [ngClass]="{'picture':type=='picture','video':type=='video','folder':type=='folder'}" class="file-item-icon"></div>
    
    
    <div class="file-name-text">
        <div *ngIf="!this.renaming" class="file-name-text-div">{{name}}</div>
        <input (blur)="renameEnter()" #fileNameInput *ngIf="this.renaming" (keydown.enter)="renameEnter()" class="file-name-text-input" type="text" [value]="this.name"/>
    </div>
</div>