.file-item-icon-large {
  background: url('../item-icons/document-icon.png');
  background-size: cover;
  min-height: 90px;
  min-width: 90px;
}

.file-item-icon-list {
  background: url('../item-icons/document-icon.png');
  background-size: cover;
  min-height: 45px;
  min-width: 45px;
  margin-left: 2%;
}

.file-item-icon-move-state {
  background: url('../item-icons/document-icon.png');
  background-size: cover;
  min-height: 45px;
  min-width: 45px;
}

.thumbnail {
  height: fit-content;
  width: fit-content;
  max-height: 90px;
  max-width: 90px;
  display: inline;
}

.thumbnail-active{
  background: unset !important;
  text-align: center;
}

.file-move-state{
  display: flex;
  flex-direction: row;
  padding: 15px 15px 5px 15px;
  margin-top: 15px;
}

.Image {
  background: url('../item-icons/pic-icon.png');
  background-size: cover;
}

.Video {
  background: url('../item-icons/video-icon.png');
  background-size: cover;
}

.Folder {
  background: url('../item-icons/folder-icon.png');
  background-size: cover;
}

.file-large {
  padding: 15px;
  position: relative;
}

.file-list {
  padding: 2px;
  position: relative;
  display: flex !important;
}

/*.film-frame{*/
/*  background: url("C:\\Users\\rusha\\OneDrive\\Pictures\\filmframe.webp") !important;*/
/*  background-size: cover !important;*/
/*  position: absolute !important;*/
/*  !*width: 90px;*!*/
/*  !*height: 90px;*!*/
/*  top: 40px;*/
/*}*/

.file-large:hover {
  background-color: rgba(211, 211, 211, 0.593);
  cursor: pointer;
}

.file-list:hover {
  background-color: rgba(211, 211, 211, 0.593);
  cursor: pointer;
}

.file-options-large {
  text-align: right;
}

.file-options-list {
  text-align: right;
  align-self: center;
  display: inline-block;
  order: 3;
  margin-left: 20%;
  position: relative;
}

.fa-ellipsis-large {
  margin-right: 34px;
  padding: 4px;
  border-radius: 10px;
  position: relative;
  visibility: hidden;
}

.fa-ellipsis-list {
  padding: 4px;
  border-radius: 10px;
  visibility: hidden;
  align-self: center;
  position: relative;
}

.ellipsis-visible {
  visibility: visible !important;
}

.fa-ellipsis:hover {
  background-color: lightgray;
}

.fa-xmark {
  border-radius: 10px;
  padding: 3px 6px 3px 6px;
}

.fa-xmark:hover {
  background-color: lightgray;
}

.file-name-text-large {
  margin-left: 1.5px;
}

.file-name-text-list {
  margin-left: 14.5px;
  align-self: center;
  width: 300px;
  margin-right: 10%;
}


.file-options-menu-large {
  display: flex;
  position: absolute;
  width: 84px;
  height: 0px;
  visibility: hidden;
  font-size: 12px;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  top: 40px;
  right: 0px;
  border: 2px solid lightgray;
  transition: height 0.4s ease-in-out;
  z-index: 6;
  overflow: hidden;
}

.file-options-menu-list {
  display: flex;
  position: absolute;
  width: 84px;
  height: 0px;
  visibility: hidden;
  font-size: 12px;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  top: 30px;
  right: 0;
  border: 2px solid lightgray;
  transition: height 0.4s ease-in-out;
  z-index: 6;
  overflow: hidden;
}

.file-option {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
  text-align: center;
  position: relative;
}

#trash-file-option {
  margin-top: 6px;
}

.file-option:hover {
  background-color: lightgray;
}

.file-name-text-input-large {
  display: inline-block;
  background: transparent;
  text-align: center;
  width: 85px;
  padding: 5px;
}

.file-name-text-input-list {
  display: inline-block;
  background: transparent;
  text-align: start;
  width: 300px;
  padding: 5px;
  align-self: center;
  margin-left: 14.5px;
  margin-right: 10%;
}

input.file-name-text-input-red {
  border: 1px solid red;
  outline: none;
}

input.file-name-text-input-red:focus {
  border: 1px solid red;
}

.file-name-text-div-large {
  text-wrap: wrap;
  overflow-wrap: anywhere;
  display: inline-block;
  width: 85px;
  text-align: center;
}

.file-name-text-div-list {
  position: relative;
  text-wrap: nowrap;
  overflow-wrap: anywhere;
  display: inline-block;
  width: 300px;
  text-align: start;
  margin-right: 10%;
  align-self: center;
}

.file-name-text-div-move-state{
  font-size: 16px;
  width: fit-content !important;
  margin-left: 10px;
}

.move-opacity-settings {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

/*TODO: Remove below, most likely redundant*/
.move-selection {
  margin-top: 100%;
  visibility: hidden;
}

.moving-select-text {
  margin-top: 70%;
  position: absolute;
  font-size: 20px;
  visibility: hidden;
}

.back-btn-moving {
  align-self: flex-start;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 3px;
  visibility: hidden;
}

.back-btn-moving:hover {
  background-color: lightgray;
}

/*TODO: Remove above, most likely redundant*/

.fa-heart-large {
  position: absolute;
  display: inline;
  top: 18px;
  right: 20px;
  font-size: 16px;
}

.fa-heart-list {
  display: inline;
  top: unset;
  right: 117px;
  font-size: 16px;
  align-self: center;
  order: 3;
  margin-left: 10%;
}

#selectFile-large {
  display: inline;
  position: absolute;
  top: 18px;
  visibility: hidden;
}

#selectFile-list {
  display: inline;
  margin-left: 4px;
  visibility: hidden;
  align-self: center;
}

.visible-checkbox {
  visibility: visible !important;
}

.move-options{
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  /*width: 40%;*/
  /*min-height: 46px;*/
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.fileTypeSpan{
  text-transform: uppercase;
  align-self: center;
  position: absolute;
  left: 60%;
}

.size-span{
  display: block;
  color: gray;
  font-size: 9px;
  margin-left: 14.5px;
  padding: 0px 5px;
}

@media (max-width: 550px) {
  .file-item-icon-large{
    height: 70px;
    width: 70px;
  }
  .file-name-text-div-large{
    padding: 0px;
  }
  .file-name-text-input-large{
    padding: 0px;
  }
  .file-large{
    padding: 0px;
    padding-left: 5px;
  }
  .fa-heart-large{
    top: 6px;
    right: 17px;
  }
  #selectFile-large {
    top: 7px;
  }
  .file-name-text-div-move-state{
    font-size: 13px !important;
  }
  .file-item-icon-move-state{
    min-height: 30px;
    min-width: 30px;
  }
  .move-options{
    font-size: 13px;
  }
}

@media (max-width: 1100px){
  .fa-heart-list {
    margin-left: 5%;
  }
  .file-options-list {
    margin-left: 15%;
  }
}

@media (max-width: 900px) {
  .file-options-list{
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .file-item-icon-list{
    margin-left: 0;
  }
  .file-name-text-input-list{
    width: 60%;
    margin-right: 0;
    margin-left: 0;
  }
  .size-span{
    margin-left: 0;
  }
  .file-name-text-div-list{
    width: 60%;
    margin-right: 0;
  }
  #selectFile-list{
    margin-left: 0;
    margin-right: 4px;
  }
}

@media (max-width: 700px){
  .file-list{
    font-size: 13px;
  }
  .fileTypeSpan{
    font-size: 10px;
  }

@media (max-width: 610px) {
  .fileTypeSpan-mini-drawer-not-set{
    left: 200px
  }
  .file-item-icon-list{
    min-width: 40px;
    min-height: 40px;
  }
}}

@media (min-width: 516px) and (max-width: 577px) {
  .fileTypeSpan-mini-drawer-not-set{
    display: none;
  }
}

@media (min-width: 1260px){
  .fileTypeSpan{
    left: 511px;
  }
}

@media (min-width: 800px) and (max-width: 900px){
  .fileTypeSpan-mini-drawer-set{
    left: 400px;
  }
}

@media (min-width: 950px) and (max-width: 1257px){
  .fileTypeSpan-mini-drawer-set{
    left: 550px;
  }
}
