.file-item-icon{
    background: url('../../item-icons/document-icon.png');
    background-size: cover;
    height: 90px;
    width: 90px;
}
.picture{
    background: url('../../item-icons/pic-icon.png');
    background-size: cover;
}

.video{
    background: url('../../item-icons/video-icon.png');
    background-size: cover;
}

.folder{
    background: url('../../item-icons/folder-icon.png');
    background-size: cover;
}

.file{
    margin: 15px;
    position: relative;
}

.file-options{
    text-align: right;
}

.fa-ellipsis{
    margin-right: 34px;
    padding: 4px;
}

.fa-ellipsis:hover{
    background-color: lightgray;
}






.file-options-menu{
    display: flex;
    position: absolute;
    width: 84px;
    height: 0px;
    visibility: hidden;
    font-size: 12px;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 30px;
    right: 0px;
    border: 2px solid lightgray;    
    transition: height 0.8s ease-in-out;
}

.file-option{
    padding-top: 9px;
    opacity: 0;
    padding-bottom: 9px;
    width: 100%;
    text-align: center;
    position: absolute;
    transition: opacity 0.3s ease-in;
}

#trash-file-option{
    margin-top: 6px;
}

.file-option:hover{
    background-color: lightgray;
}

.file-options-visible{
    opacity: 1;
    transition-delay: 0.2s;
}