<div [title]="originalName" class="file">
    <div class="file-options-menu">
        <div [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="trash-file-option">Move to trash</div>
        <div (click)="setupInput();" [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="rename-file-option">Rename</div>
        <div [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="share-file-option">Share</div>
        <div [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="move-file-option">Move to...</div>
        <div [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="favorite-file-option">Favorite</div>
        <div [ngClass]="fileOptionsShouldBeVisible ? 'file-options-visible':''" class="file-option" id="rename-file-option">Info</div>
    </div>
    <div (click)="expandOptions()" title="Options" class="file-options">
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div [ngClass]="{'picture':type=='picture','video':type=='video','folder':type=='folder'}" class="file-item-icon"></div>
    <div class="file-name-text">
        <div *ngIf="!this.renaming" class="file-name-text-div">{{name}}</div>
        <input (blur)="renameEnter()" #fileNameInput *ngIf="this.renaming" (keydown.enter)="renameEnter()" class="file-name-text-input" type="text" [value]="this.name"/>
    </div>
    <!-- <div class="three-dot-menu"></div> -->
</div>